.dripping {
    position: relative;
    width: 100%;
}

/* Container para a animação */
.caldaChoco {
    width: 100%;
}

/* O elemento SVG no seu estado padrão, antes de ser animado */
.chocolate-svg {
    width: 100.6%;
    height: auto;
    /* Posição inicial: completamente escondido acima do container */
    transform: translateY(-100%);
    /* Adiciona uma transição suave para garantir que o movimento inicial seja fluido */
    transition: transform 0.4s ease-out;
}

.animate-drip .chocolate-svg {
    /* Aplica a animação de "drip" e move para a posição final (visível) */
    animation: drip 3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    transform: translateY(0);
}

/* Keyframes para a animação de entrada (drip) */
@keyframes drip {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


.caldaChoco path {
    animation: melt 2s ease-in-out infinite;
    fill: #b16b32;
}

@keyframes melt {
    0% {
        d: path("M0,192L13.3,181.3C26.7,171,53,149,80,149.3C106.7,149,133,171,160,186.7C186.7,203,213,213,240,202.7C266.7,192,293,160,320,160C346.7,160,373,192,400,197.3C426.7,203,453,181,480,160C506.7,139,533,117,560,138.7C586.7,160,613,224,640,224C666.7,224,693,160,720,133.3C746.7,107,773,117,800,106.7C826.7,96,853,64,880,85.3C906.7,107,933,181,960,202.7C986.7,224,1013,192,1040,160C1066.7,128,1093,96,1120,117.3C1146.7,139,1173,213,1200,224C1226.7,235,1253,181,1280,170.7C1306.7,160,1333,192,1360,192C1386.7,192,1413,160,1427,144L1440,128L1440,0L0,0Z");
    }

    50% {
        d: path("M0,200L13.3,185C26.7,170,53,140,80,142C106.7,144,133,170,160,190C186.7,210,213,220,240,208C266.7,196,293,160,320,160C346.7,160,373,185,400,195C426.7,205,453,190,480,165C506.7,140,533,115,560,135C586.7,155,613,230,640,230C666.7,230,693,160,720,130C746.7,100,773,110,800,100C826.7,90,853,60,880,80C906.7,100,933,180,960,205C986.7,230,1013,200,1040,165C1066.7,130,1093,100,1120,120C1146.7,140,1173,215,1200,230C1226.7,245,1253,185,1280,170C1306.7,155,1333,185,1360,185C1386.7,185,1413,155,1427,140L1440,125L1440,0L0,0Z");
    }

    100% {
        d: path("M0,192L13.3,181.3C26.7,171,53,149,80,149.3C106.7,149,133,171,160,186.7C186.7,203,213,213,240,202.7C266.7,192,293,160,320,160C346.7,160,373,192,400,197.3C426.7,203,453,181,480,160C506.7,139,533,117,560,138.7C586.7,160,613,224,640,224C666.7,224,693,160,720,133.3C746.7,107,773,117,800,106.7C826.7,96,853,64,880,85.3C906.7,107,933,181,960,202.7C986.7,224,1013,192,1040,160C1066.7,128,1093,96,1120,117.3C1146.7,139,1173,213,1200,224C1226.7,235,1253,181,1280,170.7C1306.7,160,1333,192,1360,192C1386.7,192,1413,160,1427,144L1440,128L1440,0L0,0Z");
    }
}