/* ===== Logo central ===== */
.logomarca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.logo {
    width: 100px;
    height: auto;
}

/* ===== Links ===== */
.links {
    font-weight: 300;
    text-decoration: none;
    color: #fffaf2;
    font-size: 24px;
    transition: all 0.2s ease;
}


.links:hover {
    color: #f3cfcf;
    text-shadow: 1px 1px 3px rgb(167, 163, 161);
}


/* LINKS DESKTOP */
.nav-links {
    display: flex;
    gap: 24px;
}

/* BOTÃO MOBILE */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.navbar.scrolled {
    background-color: #b16b32;
}

/* ===== Cada bloco de link ===== */
.link {
    margin: 0 30px;
}

.logomarca img {
    width: 120px;
    font-weight: bold;

}

/* LINKS (versão desktop) */
.nav-links {
    display: flex;
    gap: 24px;
    z-index: 1;
    place-items: center;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 25px;
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        height: auto;
        padding: 1.8em 1.4em;
        background-color: #e06767;
        position: fixed;
        top: 0;
        width: 88%;
        z-index: 1000000000;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: #e06767;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right .3s ease;
        z-index: 9999;
    }

    .nav-links.active {
        right: 0;

        .navbar {
            height: auto;
            padding: 1.4em;
            background-color: transparent;
        }

        .menu-icon.open {
            color: #a56666;
        }

        .nav-links {
            position: fixed;
            top: 0;
            z-index: 100000000;
            right: -100%;
            height: 100vh;
            width: 250px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #e06767;
            transition: right .3s ease;
        }

        .nav-links a {
            color: #f6f4ee;
        }

        .nav-links.active {
            right: 0;
        }

        .menu-btn {
            display: block;
            z-index: 999;
            position: relative;
            bottom: 228px;
            left: 150px;
        }

        .overlay {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(2px);
            z-index: 1000;
        }

        /* o logo continua no topo, fora do menu */
        .logomarca {
            z-index: 1000;
        }
    }
}